*{

    margin: 0;
    padding:0;
    text-decoration:none;
}
h2{

    font-size: 36px;
    margin-bottom: 15px;
    margin-top:30px
}

h1{

    font-size:45px;
    margin-bottom:25px
}
.results {
    display:flex;
    
    flex-direction:column;
/*    grid-template-columns: repeat(4, 1fr);*/
/*    max-width: 1200px;*/
    /*margin-left: auto;
    margin-right: auto;
    margin-top: 50px;*/
    padding: 60px 15px 60px 30px;
    background-color:bisque;
    min-height:1000px
}

.search {
    background-color: #f3d1a8;
    
    padding: 15px;
}

.input {
    font-size: 25px;
   width:100%;
   text-align: center;
   border: 50%

}

div{

    line-height:2.1rem
}

.syn{

    padding-top:10px;
    font-size:21px
   
}

.meaning{
  margin-top:15px;
  border-top:2px solid black
}
.italic{

    font-style:italic;
    font-weight:bold;
    font-size:26px
}

.submit{
        font-size: 21px;
    padding: 5px 5px 2px;
}

form{
    margin:0 15px;
    display:flex;
    gap:10px;
}

.srcUrl{

    background-color: ;
    text-align: left;
    padding-left: 25px;
    padding-top: 25px;
    font-size:22px;
    color: black!important;
}

.srcUrl a{

    color:black;
}

.srcUrl a:hover{

    color:red;
}

.table{
text-align:center
}

table{
    margin:0
}












